*.class
*.jar
*.outhyp
*.diff
*.dat
/bin/
README2.md
*.txt
.DS_Store
.classpath
.project
.settings/
VeterinarianHotel-Emma-main
po24-hva
Vet2024
Marmaid-PO-uilib.txt
ProjectContext
PersonalTesteAires.java
auto-tests/
Autotest/
po25-master
module-info.java
Loan.java
LoanTest.java
